hopsworks[python,great-expectations]
streamlit
folium
streamlit-folium
requests
pydantic-settings>=2.6.1
load_dotenv
geopy==2.4.1
openmeteo-requests
requests-cache==1.2.0
retry-requests==2.0.0
xgboost==2.0.3
scikit-learn
matplotlib==3.8.3
plotly
seaborn
nbformat
Faker
invoke
python-dotenv
python-dateutil
rasterio
shapely
pyproj
tqdm